@import "@/vars.scss";

.auth {
  width: 220px;
  @media (max-width: 419px) {
    margin: 0 auto;
  }
  &__field-password {
    width: 100%;
    background: transparent;
    border: solid 2px $theme;
    padding: 12px;
    font-size: 24px;
    border-radius: 24px;
    color: rgb(192, 192, 192);
    &::placeholder {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
    }
    &:focus {
      border: solid 2px $theme;
      box-shadow: 0 0 5px $theme;
      outline: none;
    }
  }
  &__field-password.error {
    animation: shake 0.3s ease;
    @keyframes shake {
      0% {
        border: solid 2px $theme;
      }
      30% {
        border: solid 3px $failed;
      }
      50% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(0px);
      }
      70% {
        transform: translateY(-10px);
      }
      80% {
        transform: translateY(0px);
      }
      85% {
        transform: translateX(-5px);
      }
      90% {
        transform: translateX(0px);
      }
      95% {
        transform: translateX(5px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }
}
