@import "../../vars";

.auth {
  width: 220px;
  @media (max-width: 419px) {
    margin: 0 auto;
  }
  &__field-password {
    width: 100%;
    background: transparent;
    border: solid 2px $theme;
    padding: 12px;
    font-size: 24px;
    border-radius: 24px;
    color: rgb(192, 192, 192);
    &::placeholder {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
    }
    &:focus {
      border: solid 2px $theme;
      box-shadow: 0 0 5px $theme;
      outline: none;
    }
  }
}
